<!-- app/reporfiltros-consultasrfiltros-consultasrams.component.html -->

<style>

  .example-card {
    /*margin: .%; */
    margin-top: .8em;
    max-height: 5em;
    height: 5em;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #F3F3F4;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    /*position: fixed;*/
  }

  #idDivImgActualiza,
  #idDivImgFiltros {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    height: 5em;
    background-color: #8FE61D;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #rowPrincipal {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    width: 100%;
  }

  #btnParams {
    cursor: pointer;
    width: 100%;
    height: auto;
  }


  #cajax{
    width: 70%;
    height: 70%;
    display: table;
  }
  #cajax img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
  }

  .centraImg {
    width: 55%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
  }

</style>


<mat-card class="example-card">
  <div id="rowPrincipal" class="row">
    <div id="idDivImgFiltros" class="col-md-1">
      <div class="col-md-12">
        <span>Filtros</span>
      </div>
      <div id="caja" class="col-md-12">
        <img class="centraImg" src="assets/img/volume-synsizer-settings-icon.png" (click)="pActualizaParams()"/>
      </div>
    </div>

    <div id="idDivInfo" class="col-md-10">
    </div>
    
    <div id="idDivImgActualiza" class="col-md-1" style="background-color: blue;">
      <div class="col-md-12">
        <span>Actualiza</span>
      </div>
      <div id="caja" class="col-md-12">
        <img class="centraImg" src="assets/img/refresh--database-icon-40430.png" (click)="pActualizaInfo()"/>
      </div>
    </div>
  </div>
</mat-card>
