

<style>
    #idContainerFluid {
	    padding-left: 5px;
	    padding-right: 5px;
    }
</style>


<div class="container-fluid" id="idContainerFluid">

    <filtros-consultas 
		(parametrosConsulta)="parametrosConsulta($event)" 
		[dUltimaActualizacion]="dUltimaActualizacion" 
		[dListaAtmGpos]="dListaAtmGpos" 
		[dSolicitaFechasIni]="dSolicitaFechasIni" 
		[dSolicitaFechasFin]="dSolicitaFechasFin" 
		[dTipoListaParams]="dTipoListaParams">
    </filtros-consultas>

    <div style="margin-top: 2vh; height: 34em; width: 100%;">

        <!-- div class="card" style="padding: 3px; height: 65vh; background-color: #F3F3F4;" -->
        <mat-card-content class="clsContentDataTable">

            <ngx-datatable  
				class="material striped" 
				[rows]="dataJournalRedBlu"
				columnMode="standard" 
				[headerHeight]="30" 
				[footerHeight]="0" 
				[rowHeight]="25"  
				[selected]="selected" 
				[selectionType]="'single'"
				[messages]="messages"
				[scrollbarV]="true"
                [scrollbarH]="true"
                [reorderable]="true"
                [reorderable]="reorderable"
                [rowClass]="getRowClass"
                [loadingIndicator]="loadingIndicator"
                (activate)="onActivate($event)"
                (select)='onSelect($event)'>

                <ngx-datatable-column 
	                name="#" 
	                [width]="40" 
	                [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <strong>{{rowIndex+1}}</strong>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column 
	                prop="TimeStamp" 
	                name="Fecha/Hora" 
	                [width]="160" 
	                [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="noWrap">
                            <span>{{row.TimeStamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column 
                    prop="Ip" 
                    name="IP" 
                    [width]="100">
                </ngx-datatable-column>

                <ngx-datatable-column 
                    prop="AtmName" 
                    name="ATM"
                    [width]="110">
                </ngx-datatable-column>

                <ngx-datatable-column 
                    prop="CardNumber" 
                    name="Tarjeta numero" 
                    [width]="160">
                </ngx-datatable-column>

                <ngx-datatable-column 
                    prop="OperationType" 
                    name="Tipo de Operacion" 
                    [width]="150">
                </ngx-datatable-column>

                <ngx-datatable-column 
                    prop="TransactionCount" 
                    name="Contador de Transaccion" 
                    [width]="190">
                </ngx-datatable-column>
                
                <ngx-datatable-column 
                    prop="Amount" 
                    name="Monto" 
                    [cellClass]="getCellClass" 
                    [width]="110">
                    <ng-template let-row="row" ngx-datatable-cell-template>
	                    <div class="noWrap justRight">
							<span *ngIf="row.Amount == ''"></span>
							<span class="colNum" *ngIf="row.Amount != ''">{{row.Amount | currency:'USD':'symbol':'1.2-2'}}</span>
	                    </div>
                    </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column 
                    prop="HWErrorCode" 
                    name="Codigo de error de HW" 
                    [width]="210">
                </ngx-datatable-column>

                <ngx-datatable-column 
                    prop="Denomination" 
                    name="Denominacion" 
                    [width]="120">
                </ngx-datatable-column>
                
                <ngx-datatable-column 
                    prop="Aquirer" 
                    name="Emisor" 
                    [width]="120">
                </ngx-datatable-column>               
                
            </ngx-datatable>

        </mat-card-content>
    </div>
</div>