<style>

</style>

<div id="idHeaderPagina" class="fijaEncabezado">

    <mat-toolbar color="primary">

        <!-- span>Responsive Navigation</span -->
        <img src="../assets/img/LogoManager-3.png" alt="Esto es una imagen insertada en html">

        <span class="example-spacer"></span>
        <span class="example-spacer"></span>

        <div fxShow="true" fxHide.lt-md="true">

            <a [routerLink]="['/']">Inicio</a>
            <span class="example-spacer"></span>
            <a [routerLink]="['/cursos']">Contacto</a>
            <a [routerLink]="['/admin']">Admin</a>
            <a [routerLink]="['/atms']">Atms</a>

        </div>

    </mat-toolbar>

    <router-outlet name="app-atms"></router-outlet>
    <!-- router-outlet name="app-atms" class="fijaSubMenu"></router-outlet -->


</div>
